{
  "plugins": [
    "@typescript-eslint",
    "import",
    "simple-import-sort"
  ],
  "extends": [
    "next/core-web-vitals",
    "prettier"
  ],
  "rules": {
    "import/named": [
      "off"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "sort-imports": "off",
    "import/order": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
