[theme="beacon"] {
  // HEX
  --dark-color: #e8e8e8;
  --second-color: #e9ecef;
  --third-color: #bbbcc8;
  --light-color: #0a0a0a;
  --contrast-color: #00b9ae;

  --title-color: #141414;
  --descriptions-color: #1f1f1f;

  --border-color: #adb5bd;
  --input-bg-color: #f8f9fa;
  --btn-light-color: #ced4da;

  // RGB
  --dark-color-rgb: 232, 232, 232;
  --second-color-rgb: 233, 236, 239;
  --third-color-rgb: 31, 31, 31;
  --light-color-rgb: 10, 10, 10;
  --contrast-color-rgb: 0, 185, 174;

  --title-color-rgb: 20, 20, 20;
  --descriptions-color-rgb: 31, 31, 31;

  --border-color-rgb: 173, 181, 189;
  --input-bg-color-rgb: 248, 249, 250;
  --btn-light-color-rgb: 173, 181, 189;
}
// ПОКА ЧТО ХЕРНЯ
