[theme="sodalite"] {
  --dark-color: #15181e;
  --dark-color-rgb: 21, 24, 30;

  --second-color: #20242c;
  --second-color-rgb: 32, 36, 44;

  --third-color: #20242c;
  --third-color-rgb: 32, 36, 44;

  --light-color: #f9f9f9;
  --light-color-rgb: 249, 249, 249;

  --contrast-color: #00b9ae;
  --contrast-color-rgb: 0, 185, 174;

  // OPTIONAL COLORS
  --descriptions-color: #c1c1c1;
  --descriptions-color-rgb: 193, 193, 193;

  --title-color: #afafaf;
  --title-color-rgb: 175, 175, 175;

  --border-color: #525252;
  --border-color-rgb: 82, 82, 82;

  --btn-light-color: #52585a;
  --btn-light-color-rgb: 82, 88, 90;

  --input-bg-color: #1e222a;
  --input-bg-color-rgb: 30, 34, 42;
}
