// ICONS
@font-face {
  font-family: "icons";
  src: url("/fonts/icons/icons.eot?i7jzkn");
  src: url("/fonts/icons/icons.eot?i7jzkn#iefix") format("embedded-opentype"),
  url("/fonts/icons/icons.ttf?i7jzkn") format("truetype"),
  url("/fonts/icons/icons.woff?i7jzkn") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// FONTS

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
  url("/fonts/gilroy/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"),
  url("/fonts/gilroy/Gilroy-ExtraboldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
  url("/fonts/gilroy/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Black"), local("Gilroy-Black"),
  url("/fonts/gilroy/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("/fonts/gilroy/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
  url("/fonts/gilroy/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
  url("/fonts/gilroy/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"),
  url("/fonts/gilroy/Gilroy-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"),
  url("/fonts/gilroy/Gilroy-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"),
  url("/fonts/gilroy/Gilroy-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"),
  url("/fonts/gilroy/Gilroy-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"),
  url("/fonts/gilroy/Gilroy-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"),
  url("/fonts/gilroy/Gilroy-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
  url("/fonts/gilroy/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"),
  url("/fonts/gilroy/Gilroy-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"),
  url("/fonts/gilroy/Gilroy-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"),
  url("/fonts/gilroy/Gilroy-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"),
  url("/fonts/gilroy/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Thin"), local("Gilroy-Thin"),
  url("/fonts/gilroy/Gilroy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"),
  url("/fonts/gilroy/Gilroy-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}